* { 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    word-spacing: 10px;
       
}
.all{
    position:fixed;
    top: 0%;
    width: 100%;
    padding: 100px;
    background-color: white;
}

.body{
    cursor:default;
}
body:hover{
    cursor: default;
}

.nav{
    position: fixed;
    top: 0;
    padding: 130px 100%;
}

.info{
    font-size: 10px;
    color:darkslategray;
    background-color: white;
    position: fixed;
    top: 5px;
    left: 10px;
    display: flex;
   

    

}

    .logo{
    line-height: 0%;
    position: fixed;
    left: 50px;
    top: 0px;
    font-size: 100px;
    font-weight: 550;
}
    .sign{
        position: fixed;
        top: 130px;
        left: 130px;
        font-size: 15px;
    }

    .name{
    position: fixed;
    padding: 20px;
    top: 80px;
    right: 50px;
    font-size: 15px;
    font-weight: bold;
    word-spacing: 8px;
    text-align: center;
    line-height: 30px;
}
.location{

padding: auto;

}
a.location:hover{
    cursor: pointer;
}

    .mail{
    
    padding: auto;
    margin-left: 10px;
    
}
    .phone{
        
        padding: auto;
        margin-left: 10px;
}

.resume{
    margin-top: 250px ;
    margin-left: 50px;
    margin-right: 50px;
}

.titulo{
    text-align: center;
    padding:50px;
}
    .titulo:hover{
        opacity: 40%;
        font-style: oblique;
        letter-spacing: 5px;
        cursor: default;
    }
.titulo2{
    box-sizing: border-box;
    padding: 10px 0px;
    text-align: center;
}
    .titulo2:hover{
    opacity: 40%;
    font-style: oblique;
    letter-spacing: 5px;
    cursor:default;
    }

.text{
    margin-bottom: 50px;
    color:black;
    font-size: 18px;
    text-align: justify;
    text-indent: 10px;
}
.text2{
    margin-bottom: 80px;
    color: darkgray;
    font-size: 14px;
}
.text3{
    text-align: justify;
    color:black;
    opacity: 85%;
}
.btn{
    text-align: center;
   margin-top: 80px;
   
 

    
}
    #btn{
        color: white;
        padding: 10px;
        background-color: white;
        border-radius: 0.5em;
        border: 1px solid black;
        font-weight: bold;
        font-size: 12px;
    }
    
    #btn:hover{
        cursor: pointer;
        background-color: black;
        opacity:85%;
    
        
    }

    small{
        font-size: 10px;
        opacity: 50%;
    }
